<section class="creating-expense-category">
  <div class="container">

    <h1 class="common-title-head">Создание категории расходов</h1>
    <input type="text" id="input-add-expense" class="form-control" placeholder="Название..." style=" width: 397px; height: 38px;">
    <div class="create d-flex">
      <button id="add-save" type="button" class="btn btn-success">Создать</button>
      <button id="add-cancel" type="button" class="btn btn-danger">Отмена</button>
    </div>

  </div>
</section>