<section class="editing-expense-category">
    <div class="container">
        <h1 class="common-title-head">Редактирование категории расходов</h1>
        <input type="text" id="input-expense" class="form-control" style=" width: 397px; height: 38px;">
        <div class="create d-flex">
            <button id="save" type="button" class="btn btn-success">Сохранить</button>
            <button id="cancel" type="button" class="btn btn-danger">Отмена</button>
        </div>
    </div>
</section>