<section class="generating-income-expense">
    <div class="container">
        <h1 class="common-title-head">Создание дохода/расхода</h1>
        <div id="add-income-expense" class="col-5" style="width: 495px">

            <select id="select-category-income-expense" class="form-select type" style="height: 47px" aria-label="Default select example">
                <option selected>Тип...</option>
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
            </select>

            <select  id="select-category" class="form-select" style="height: 47px" aria-label="Default select example">
                <option selected>Категория...</option>
<!--                <option value="category_income_id"></option>-->
<!--                <option value="category_expense_id"></option>-->
            </select>

            <input id="input-number" type="number" class="form-control" placeholder="Сумма в $..." style="height: 47px">
            <input id="input-date" type="date" class="form-control" placeholder="Дата..." style="height: 47px">
            <input id="input-text" type="text" class="form-control" placeholder="Комментарий..." style="height: 47px">
        </div>
        <div class="create d-flex">
            <button id="add-income-expense-save" type="button" class="btn btn-success">Сохранить</button>
            <button id="add-income-expense-cancel" type="button" class="btn btn-danger">Отмена</button>
        </div>
    </div>
</section>