<section class="form">
    <div class="container">
        <div class="form-content">
            <a href="/#/" class="logo">
                <img src="/images/logo.png" alt="Логотип">
            </a>
            <div class="form-title common-title">Вход</div>
            <div class="form-details">
                <div class="form-group">
                    <div class="form-icon-background">
                        <img src="/images/mail.png" class="form-icon" alt="Конверт">
                    </div>
                    <input type="text" class="form-input" id="email" placeholder="Электронная почта" required>
                </div>
                <div class="form-group">
                    <div class="form-icon-background">
                        <img src="/images/lock.png" class="form-icon" alt="Замок">
                    </div>
                    <input type="password" class="form-input" id="password" placeholder="Пароль" required>
                </div>
                <div class="form-agree">
                    <input type="checkbox" id="agree" required>
                    <label for="agree">Запомнить меня </label>
                </div>
            </div>
            <div class="form-button">
                <button class="button form-btn" id="process" disabled >Войти</button>
            </div>
            <div class="form-link">Ещё нет аккаунта? <a href="/#/signup">Пройдите регистрацию</a></div>
        </div>
    </div>
</section>